# IDE関連
.idea

# 環境変数
.env
.env.backup
.env.production

# キャッシュ・ログ
.phpunit.cache
.phpunit.result.cache
.phpactor.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Laravel関連
/storage/*.key
/storage/pail
/storage/app
/storage/framework
/storage/logs
/bootstrap/cache/*.php
/vendor

# Node.js関連
node_modules/

# 公開ディレクトリ
public/build
public/hot
public/storage

# その他
.DS_Store
**/.DS_Store
