includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - routes/

    # Level 10 is the highest level
    level: 5

    ignoreErrors:
        # Pest.php などのテスト環境内で発生する「クロージャ内の$this未定義エラー」を許容する
        -
            message: '#Undefined variable: \$this#'
            path: tests/*
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
