includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - routes/

    # Level 10 is the highest level
    level: 5

    ignoreErrors:
        # Pest.php などのテスト環境内で発生する「クロージャ内の$this未定義エラー」を許容する
        -
            message: '#Undefined variable: \$this#'
            path: tests/*

        # Pestのテストコード内で呼び出される Laravel固有のメソッド ($this->get() や $this->actingAs() など) を許容する
        -
            message: '#Call to an undefined method PHPUnit\\Framework\\TestCase::.*#'
            path: tests/*

        # Mockery の expectation に対するメソッド呼び出しエラーを許容する
        -
            message: '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage::.*#'
            path: tests/*
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
